.DS_Store
Thumbs.db

.ipynb_checkpoints/
__pycache__/

get_credentials.py
*.nc
*.grib2*
*.npy
*.h5
*.zip
*.pyc
*.nfs*
*.csv
*.zarr
data/

!states_latlon.csv

sandbox.ipynb

.rclone.conf

BB_HRRR/figs/
BB_GOES/figs/

WOOLSEY_100km/
